body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
.container {
    max-width: 800px;
    padding: 40px 20px;
}
h1 {
    font-family: monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    display: inline-block;
    margin: 0 0 2rem;
    line-height: 1.0;
    /* border: 1px solid white;
    padding: 0.675rem 0 0.675rem 0.675rem; */
}
h1 span {
    background: white;
    color: black;
    padding: 0.25rem;
    margin-left: 0.25rem;
}
a {
    color: #000000;
    background-color: #f8fafc;
    font-weight: 600;
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    display: inline-block;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}
a:hover {
    background-color: #E0E3E5;
}
nav {
    margin-bottom: 2rem;
}
.github {
    margin-right: 0.5rem;
}
.github-icon {
    font-size: 16px !important;
    margin-right: 0.325rem;
}
summary{
    color: #9e9e9e;
    font-size: 14px;
    margin-bottom: 2rem;
    margin-top: 0;
}